body{
	font-family: arial;
	font-size: 24px;
	background-color: orange;
}
h1{
	text-align: center;
	text-transform:uppercase;
	font-family: cursive;
}
.bordery{
	border-top: 2px solid #aaaaaa;
}
nav	{
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #535d67;
	border-radius: 1px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 4px #000;
}
nav a{
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
nav.animation{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a{
	font-weight: bold;
}
.first {
	width: 90px;
	margin-left: 0px;
	padding: 0px 11px 0px;
	border-radius: 25px;
}
.two{
	padding: 0px 10px 0px;
	border-radius: 25px;
}
.three{
	padding: 0px 11px 0px;
	border-radius: 25px;
}
.four{
	padding: 0px 14px 0px;
	border-radius: 25px;
}
.five{
	width: 141px;
	padding: 0px 13px 0px;
	border-radius: 25px;
}
.menu a:hover{
	background-color: white;
	opacity: 50%;
	color: black;
}

form {
	margin: 0 auto;
	background-color: #535d67;
	width: 550px;
	height: 350px;
	margin-top: 60px;
	border-radius: 50px;
	padding: 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.82);
}
.group{
	margin: 20px;
	padding: 10px;
}
label{
	font-family: cursive;
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
input{
	border-color: white;
	background-color: white;
	font-weight: bold;
	margin-top: 10px;
	font-family: cursive;
	height: 40px;
	width: 475px;
	border-radius: 20px;
	padding-left: 15px;
	font-size: 22px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}
input:focus{
	border: 2px solid #6c00ff;
	transform: translateX(15px);
	width: 450px;
	border-color: yellow;
}
button{
	cursor: : pointer;
	padding: 0px 40px;
	height: 50px;
	color: #535d67;
	background-color: orange;
	font-weight: bold;
	font-family: cursive;
	font-size: 24px;
	border-radius: 20px;
	text-align: center;
	border-color: white;
	text-transform: uppercase;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}
button:hover{
	opacity: .80;
	transform: scale(1.1);
}
.form2{
	margin: 0 auto;
	background-color: #535d67;
	width: 550px;
	height: 50px;
	margin-top: 20px;
	border-radius: 40px;
	padding: 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.82);
	font-weight: bold;
}
.psdp{
	font-family: cursive;
	padding-left: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 10px;
	margin-right: 5px;
	border-radius: 25px;
}
.form2 div:hover{
	color: orange;
}
.group2{
	line-height: 50px;
	height: 100%;
	font-size: 25px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding-left: 35px;
}
.reg{
	font-family: cursive;
	padding-left: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 10px;
	margin-right: 5px;
	border-radius: 25px;
	text-align: right;
}
.group2 a:hover{
	color: #535d67;
	background-color: white;
	opacity: .80;
	transform: scale(1.1);
	font-size: 28px;
}
.account {
	margin-left: 10px;
	background-color: #535d67;
	width: 350px;
	height: 500px;
	margin-top: 20px;
	border-radius: 40px;
	padding: 30px;
	text-align: left;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.82);
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	margin-top: 10px;
}
.ava {
	background-color: #535d67;
	width: 370px;
	margin-left: 750px;
	padding: 5px 15px;
	border-radius: 25px;
	text-transform: uppercase;
	margin-top: 10px;
	height: 100px;
}

.name{
	text-align: center;
	margin-top: 35px;
	color: white;
	font-size: 32px;
	font-family: "arial";
	font-weight: bold;
	tex
}

ul {
	position: relative;
	font-size: 23px;
	display: flex;
	flex-direction: column;
	font-family: cursive;
	padding: 20px;
	padding-left: 2px;
	font-weight: 0px;
}
.st-bt{
	padding-left: 13px;
	border-radius: 	25px;
	background-color: #535d67;
	width: 390px;
	height: 370px;
	margin-left: 750px;
}
ul li {
	position: relative;
	list-style: none;
}
ul li a {
	font-size: 27px;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 40px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke:  1px rgba(255, 255, 255, 0.5);
}
ul li a::before {
	content: attr(data-text);
	position: absolute;
	color: var(--clr);
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 8px solid var(--clr);
	-webkit-text-stroke:  1px var(--clr);
}
ul li a:hover::before {
	width: 100%;
	filter:  drop-shadow(0 0 25px var(--clr));
}
.st-panel{
	background-color: #535d67;
	width: 450px;
	height: 300px;
	margin-left: 450px;
}